@import 'tailwindcss';
@plugin "../configs/hero.ts";
/* You may need to change the path to fit your project structure */
@source "../../node_modules/@heroui/theme/dist/**/*.{js,ts,jsx,tsx}";
@custom-variant dark (&:is(.dark *));
@import './defaultWrapper.styles.css';

:root {
  --background: #ffc0d4;
  --foreground: #171717;
}
.dark:root {
  --background: #171717;
  --foreground: #ffc0d4;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-pretendard: var(--font-pretendard);
}
/*

// NOTE: OS/브라우저가 다크모드일 때 적용
@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}
*/
body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-pretendard), Arial, Helvetica;
}

.noise {
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  z-index: 0;
  background-image: url('../assets/images/noise.gif');
  background-position: 0 0;
  background-size: 200px 200px;
  pointer-events: none;
  opacity: 0.05;
  transition: opacity 0.2s cubic-bezier(0.445, 0.05, 0.55, 0.95);
  visibility: visible;
}
